<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>JsonHeatmap</servlet-name>
        <servlet-class>webservice.JsonHeatmap</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JsonAuthenticate</servlet-name>
        <servlet-class>webservice.JsonAuthenticate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JsonBootstrap</servlet-name>
        <servlet-class>webservice.JsonBootstrap</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JsonTopKCompanion</servlet-name>
        <servlet-class>webservice.JsonTopKCompanion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JsonTopKPopular</servlet-name>
        <servlet-class>webservice.JsonTopKPopular</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JsonBasicLocReport</servlet-name>
        <servlet-class>webservice.JsonBasicLocReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JsonAGD</servlet-name>
        <servlet-class>webservice.JsonAGD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JsonTopKNextPlaces</servlet-name>
        <servlet-class>webservice.JsonTopKNextPlaces</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JsonGroupPopularPlaces</servlet-name>
        <servlet-class>webservice.JsonGroupTopKPopularPlaces</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JsonTopKGroupNextPlaces</servlet-name>
        <servlet-class>webservice.JsonGroupTopKNextPlaces</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JsonUpdateAdditionalFile</servlet-name>
        <servlet-class>webservice.JsonUpdateAdditionalFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin</servlet-name>
        <jsp-file>/bootstrap.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>JsonHeatmap</servlet-name>
        <url-pattern>/json/heatmap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JsonAuthenticate</servlet-name>
        <url-pattern>/json/authenticate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JsonBootstrap</servlet-name>
        <url-pattern>/json/bootstrap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JsonTopKCompanion</servlet-name>
        <url-pattern>/json/top-k-companions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JsonTopKPopular</servlet-name>
        <url-pattern>/json/top-k-popular-places</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JsonBasicLocReport</servlet-name>
        <url-pattern>/json/basic-loc-report</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JsonAGD</servlet-name>
        <url-pattern>/json/group_detect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JsonTopKNextPlaces</servlet-name>
        <url-pattern>/json/top-k-next-places</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JsonGroupPopularPlaces</servlet-name>
        <url-pattern>/json/top-k-group-popular-places</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JsonTopKGroupNextPlaces</servlet-name>
        <url-pattern>/json/top-k-group-next-places</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JsonBootstrap</servlet-name>
        <url-pattern>/json/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
